.chat-list{
    height: 450px;
    overflow-y: scroll;
    flex: 1;
}

.btn-contact{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: var(--black-bgc);
    gap: 10px;
}

.btn-contact:hover{
    background-color: var(--blue-hover-select-user);
    border-radius: 8px;
}

.contact-box-img{
    width: 40px;
    height: 40px;
}

.contact-box-img img{
    width: 100%;
    border-radius: 50%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.contact-info p{
    color: var(--grey-text);
}